.container {
	margin-top: 5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.text-content {
		text-align: left;
		margin: 3rem;
		max-width: 30%;
		h2 {
			font-size: 3.6rem;
			font-weight: bold;
			padding-bottom: 2rem;
		}
		p {
			font-size: 2rem;
			letter-spacing: 2px;
			line-height: 2rem;
			font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
				sans-serif;
			padding-bottom: 2rem;
		}
		a {
			color: var(--text-color-white);
			button {
				margin-top: -1rem;
				padding: 1rem 4rem;
				border-radius: 10px;
				border: none;
				font-size: 1rem;
				background: #734fd6;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 769px) {
	.container {
		margin: 0;
		width: 100%;
		flex-wrap: wrap;
		overflow-x: hidden;
		.text-content {
			max-width: 80%;
			margin: 4rem 0 0;
		}
		img {
			rotate: 30deg;
			width: 100%;
			z-index: -1;
		}
	}
}
