.container {
	height: 20rem;
	width: 30%;
	border-radius: 15px;
	background-color: white;
	background-image: url("/browser.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
	overflow: hidden;

	.name {
		background: var(--primary-color);
		width: 100%;
		height: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: var(--text-color-main);
		font-size: 1.2rem;
	}
}

@media (max-width: 769px) {
	.container {
		width: 100%;
	}
}
