.navbar {
	height: 5rem;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	img {
		margin-left: 2rem;
	}
	ul {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 2rem;
		li {
			padding: 1rem;
			list-style: none;
			a {
				color: var(--primary-color);
			}
		}
	}
}
